form {
    width: 350px;
    height: 350px;
    background-color: rgb(116, 114, 100);
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    color: rgb(238, 237, 235);
}

label{
    font-size: 24px;
    font-weight: bold;
}

textarea{
    width: 75%;
    height: 100px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid grey;
    padding: 12px;
    resize: none;
    font-family: sans-serif;
}

.TodoForm-containe-btn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.TodoForm-btn{
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: 300ms all ease;
    font-size: 16px;
    
}

.TodoForm-btn-cancel{
    background-color: rgb(60, 54, 51);
    color: white;
}
.TodoForm-btn-save{
    background-color: rgb(224, 204, 190);
    color: white;
}
.TodoForm-btn-cancel:hover{
    background-color: rgb(223, 0, 0);
}
.TodoForm-btn-save:hover{
    background-color: rgb(28, 28, 199);
}





