form {
    width: 600px;
    height: 350px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    
}

label{
    font-size: 30px;
    font-weight: bold;
    color: black;
}

textarea{
    width: 80%;
    height: 120px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid grey;
    padding: 12px;
    resize: none;
    font-family: sans-serif;
}

.TodoForm-containe-btn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.TodoForm-btn{
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: 300ms all ease;
    font-size: 16px;
}

.TodoForm-btn-cancel{
    background-color: red;
    color: white;
}
.TodoForm-btn-save{
    background-color: rgb(35, 35, 255);
    color: white;
}
.TodoForm-btn-cancel:hover{
    background-color: rgb(223, 0, 0);
}
.TodoForm-btn-save:hover{
    background-color: rgb(28, 28, 199);
}





